.message-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 1rem;
}

.toast-pop-up {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.input-field {
  @apply bg-card-items;
  font-style: italic;
}

.input-field:hover,
.input-field:focus {
  transform: scale(1.03);
}
